@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --light-purple: #e0c3db;
    --pastel-purple: #b6afdc;
    --medium-purple: #8d86a6;
    --medium-pink: #cf93a3;
    --lavender: #a892b2;
    --pastel-pink: #eab4b6;
    --light-pink: #be8596;
    --dirty-pink: #8f6c7d;
    --dirty-blue: #62749c;
    --medium-blue: #7884ba;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: #efefef;
    color: #484848;
}

.loader {
    position: absolute;
    right: 50%;
    bottom: 50%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #8fa0ea;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

#myPage {
    display: none;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}





p a:link {
    text-decoration: none;
    color: var(--light-pink);
    scroll-behavior: smooth;
}

p a:visited {
    color: var(--light-pink);
}

p a:hover {
    color: #484848;
}

#span-1 {
    font-weight: 600;
    color: #484848;
}

.hero {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.hero.scrolled {
    transform: translate3d(0, -100%, 0) scale(.75);
    opacity: 0;
}

.box {
    background-image: url(../img/nav-back.jpg);
    display: table;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}


.hero-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat;
}


.font-alt {
    font-family: 'georgia';
    font-style: italic;
    color: #666;
}

.hero {
    overflow: hidden;
    z-index: 1;
}
 
.title-wrapper h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    background: linear-gradient(to right, #697dff 10%,#fff 50%,#8bb3ff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-transform: uppercase;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    margin: 0;
}

.text-light {
    color: #fff
}


@keyframes textclip {
 to {
  background-position: 200% center;
 }
}

.content {
    position: relative;
    background-color: #efefef;
    border-top: 10px solid var(--dirty-pink);
    padding: 0;
    margin: 0;
    transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translate3d(0, 20px, 0) scale(.75);
    opacity: 0;
}

.content.scrolled {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
}

.sd {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    opacity: .6;
    transform: translateX(-50%);
    transition: all 500ms ease-in-out;
}

.sd:hover,
.sd:focus {
    opacity: 1;
    text-decoration: none;
}


.article-content {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;

}

.article-content span {
    color: var(--light-pink);
}

.article-content span:hover {
    color: inherit;
}

.article-container,
.article-sidebar {
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.article-title {
    margin: 0;
    color: #000000;
    font-weight: normal;
    font-size: 4.1rem;
    padding-bottom: 24px;
    margin: 0;
}

.article-lead {
    font-size: 2.0rem;
    font-weight: 300;
    padding-bottom: 44px;
    margin: 0;
    line-height: 35px;
}

.article-sidebar .article-picture img {
    max-width: 100%;
}



.article-container {
    padding-top: 10px;
    line-height: 26px;
    text-align: justify;
}

.article-container p {
    margin-top: 0;
}

.article-sidebar {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 42px;
    margin-bottom: 42px;
    max-width: calc(100%-30px);
    text-align: justify;
}

.article-sidebar p,
.article-container p {
    margin-bottom: 25px;
}

.page-footer {
    text-align: center;
    padding: 6px 0;
}

.page-footer .navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer .navigation li {
    margin-bottom: 25px;
    font-size: 1.3em;
}

.page-footer .navigation li a {
    color: var(--light-pink);
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    transition: all 1s ease-in-out;
}

.page-footer .navigation li a:hover {
    color: #000000;
}



.page-footer .copyright {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
}




/* ------------------ IMAGE --------------- */

.ch-grid {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.ch-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: default;
    perspective: 900px;

}


.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}



.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    transition: all 0.4s linear;
    transform-origin: 50% 0%;
}

.ch-info .ch-info-back {
    transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
    background-image: url(../img/toja.jpg);
    background-size: cover;
    opacity: 0;
}

.ch-item:hover .ch-info-front {
    transform: translate3d(0, 280px, 0) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
}

.ch-item:hover .ch-info-back {
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1;
}


.mail-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;

}

.mail-container a {
    text-decoration: none;
    color: inherit;
    width: 25%;
}

.mail-container .mail-box {
    text-align: center;
    margin: 0 20px;
}


.mail-container .mail-box .icon .far,
.mail-container .mail-box .icon .fab {
    font-size: 60px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
}

.mail-container .mail-box .icon .far:hover,
.mail-container .mail-box .icon .fab:hover {
    font-size: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#7884ba, #be8596);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.mail-container .mail-box .icon h3,
.mail-container .mail-box .icon h4 {
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 2px 5px;
    font-size: 16px;
    transition-delay: 0.3333s;
    color: transparent;
    font-weight: 300;
    letter-spacing: 1px;
}

.mail-container .mail-box .icon h3 {
    font-size: 12px;
}

.mail-container .mail-box .icon .h3-small {
    font-size: 9px;
    padding: 0;
}

.mail-container .mail-box .icon h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.mail-container .mail-box .far:hover ~ h3,
.mail-container .mail-box .far:hover ~ h4,
.mail-container .mail-box .fab:hover ~ h3,
.mail-container .mail-box .fab:hover ~ h4 {
    color: #484848;
}

.mail-container .mail-box .icon h3:before,
.mail-container .mail-box .icon h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--medium-blue);
    transition: 1s;

}

.mail-container .mail-box .icon h4:before {
    left: initial;
    right: 100%;
    background-color: var(--light-pink);
}

.mail-container .mail-box .far:hover ~ h3:before,
.mail-container .mail-box .fab:hover ~ h3:before {
    left: -100%;
}

.mail-container .mail-box .far:hover ~ h4:before,
.mail-container .mail-box .fab:hover ~ h4:before {
    left: initial;
    right: -100%;
}


.ch-img-1 {
    background-image: url(../img/avatar.png);
    background-size: cover;
}

.ch-img-2 {
    background-image: url(../img/logo1.png);
    background-size: cover;
}

.ch-img-3 {
    background: #fff;
    background-image: url(../img/logo2.png);
    background-size: cover;
}

.ch-img-4 {
    background-image: url(../img/logo3.png);
    background-size: 110%;
}

.ch-img-5 {
    background-image: url(../img/logo4.png);
    background-size: cover;
}

.ch-img-6 {
    background-image: url(../img/logo8.png);
    background-size: cover;
}

.ch-img-7 {
    background-image: url(../img/logo6.png);
    background-size: cover;
}

.ch-img-8 {
    background-image: url(../img/grazaaa.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ch-img-9 {
    background-image: url(../img/logo9.png);
    background-size: cover;
}

.ch-img-10 {
    background-image: url(../img/pinkgirl.png);
    background-size: cover;
}

.ch-img-11 {
    background-image: url(../img/kernel.png);
    background-size: cover;
}

.ch-img-12 {
    background-image: url(../img/pool.png);
    background-size: cover;
}

.ch-img-13 {
    background-image: url(../img/isometric.png);
    background-size: cover;
}


.plate {
    width: 70%;
    margin: 3% auto;
}

.plate--footer {
    margin-bottom: 10px;
}

.plate--footer .script:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}


.script {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #5a5a5a;
    text-align: center;
    font-size: 24px;
    position: relative;
    margin: 0;
}

.script span {
    background-color: #efefef;
    padding: 0 0.6em;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

.script:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    border-bottom: 2px solid var(--light-pink);

}



@media only screen and (max-width: 960px) {
    .mail-container {
        display: block;
    }
}


.article-content:nth-child(3) {
    width: 90%;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 33.3%;
    max-width: 32%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: all 0.6s ease-in;
}

.my-image {
    position: relative;
}

.overlay {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease-in;
    padding: 0;
    text-align: center;
}

.overlay h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-decoration: none;
    top: 50%;
    font-size: 1.4em;
    color: var(--light-pink);
    margin: 0;
}

.overlay h3:hover {
    font-weight: 600;
    color: #fff;
}

.column .my-image:hover img {
    filter: blur(3px);
    -webkit-filter: brightness(40%);
}

.column .my-image:hover .overlay {
    opacity: 1;
}


@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 98%;
    }
}
